
<!-- Earthquake Preparation Page -->

<ion-content>
  <div class="container">
    <div class="back" routerLink="/earthquake-page">
      <img class="backBtn" src="assets/button/bckBtn.png">
    </div>

    <!-- BEFORE -->
    <div class="beforeCont">
      <div class="text">
        <p class="eq">What to do when an Earthquake occurs?</p>
      </div>

      <div class="before">
        <p class="bfr">BEFORE</p>
      </div>

      <div class="before">
        <p class="sub">Know the Hazards in your Area</p>
      </div>

      <div class="content1">
        <div class="tbl">
          <table>
            <tr>
              <td>
                <img class="icon" src="assets/eqPrep/firstaid.png">
              </td>
              <td class="info">
                <b>Familiarize yourself with the following.</b>
                <br>
                <i>Alamin ang mga sumusunod:</i>
                <li><b>Fire extinguishers</b> <i>(Mga pang-apula ng apoy)</i></li>
                <li><b>Medical kit</b> <i>(Mga gamit pang-medical)</i></li>
                <li><b>Exit routes</b> <i>(Ligtas na daanan palabas ng gusali)</i></li>
                <li><b>Evacuation plan</b> <i>(Plano sa paglikas ng mga tao)</i></li>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon" src="assets/eqPrep/fix.png">
              </td>
              <td class="info">
                <b>Check your house and have it repaired if necessary.</b>
                <br>
                <i>Siguraduhin matibay ang bahay at ipakumpuni ang mga sira bahagi nito.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon" src="assets/eqPrep/canister.png">
              </td>
              <td class="info">
                <b>Store harmful chemicals and flammable material properly.</b>
                <br>
                <i>Ayusin ang pag-iimbak ng mga nakalalason kemikal at mga bagay na maaring maging sansi ng sunog.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon" src="assets/eqPrep/tv.png">
              </td>
              <td class="info">
                <b>Secure heavy furniture and hanging object.</b>
                <br>
                <i>Siguraduhin ligtas ang pagkakalagay ng mga mabibigat na mga nakabiting bagay.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon" src="assets/eqPrep/bag.png">
              </td>
              <td class="info">
                <b>Prepare your family's GO BAG containing item needed for survavil.</b>
                <br>
                <i>Ihanda ang GO BAG na naglalaman ng mga pangangailangan ng pamilya.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon" src="assets/eqPrep/community.png">
              </td>
              <td class="info">
                <b>Participate in office and community earthquake drills.</b>
                <br>
                <i>Makilahok sa mga pagsasanay ukol sa lindol.</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- DURING -->
    <div class="duringCont">
      <div class="during">
        <p class="bfr">DURING</p>
      </div>
  
      <div class="during">
        <p class="sub">When Inside a Building, Stay Calm and Do The:</p>
      </div>

      <div class="dch">
        <img class="pic" src="assets/eqPrep/DCH.jpg">
      </div>
  
      <div class="content2">
        <div class="tbl">
          <table>
            <tr>
              <td>
                <img class="icon2" src="assets/eqPrep/table.png">
              </td>
              <td class="info">
                <b>Duck under a strong table and hold on to it. Stay alert for potential threats.</b>
                <br>
                <i>Yumuko at magtago sa ilalim  ng matibay na mesa at kumapit sa mga paa nito.
                  Manatiling alerto sa mga banta ng panganib sa paligid.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon2" src="assets/eqPrep/window.png">
              </td>
              <td class="info">
                <b>Stay away from glass window, shelves and heavy object.</b>
                <br>
                <i>Umiwas sa mga bintanang salamin,mga aprador at mabibigat na gamit na maaaring mahulog.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon2" src="assets/eqPrep/evac.png">
              </td>
              <td class="info">
                <b>After the shaking stops,exit the building,and go to designated evacuation area.</b> 
                <br>
                <i>Matapos ang pagyanig,agad na lisanin ang gusali at pumunta sa evacuation area.</i>
              </td>
            </tr>
          </table>

        </div>
        <div class="during2">
          <p class="sub">When You Are Outside, Move to an Open Area!</p>
        </div>

        <div class="tbl">
          <table>
            <tr>
              <td>
                <img class="icons" src="assets/eqPrep/bldg.png">
              </td>
              <td class="info">
                <b>Stay away from building,tress,electric posts and landslide prone areas.</b>
                <br>
                <i>Lumayo sa mga gusali,puno,poste at mga lugar na may panganib ng pagguho ng lupa.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icons" src="assets/eqPrep/stop.png">
              </td>
              <td class="info">
                <b>If you're in a moving vehicle,stop and exit the vihicle.</b>
                <br>
                <i>Kapag nagmamaneho,itabi at ihinto ang sasakyan at lumabas.</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- AFTER -->
    <div class="afterCont">
      <div class="after">
        <p class="bfr">AFTER</p>
      </div>
  
      <div class="after">
        <p class="sub">Stay Alert for Aftershocks!</p>
      </div>
  
      <div class="content1">
        <div class="tbl">
          <table>
            <tr>
              <td>
                <img class="icon3" src="assets/eqPrep/search.png">
              </td>
              <td class="info">
                <b>Assess yourself and others for injuries. Provide first aid of necessary.</b>
                <br>
                <i>Suriin ang iyong sarili at mga kasama kung may tinamaang pinsala. Magbigay ng paunang lunas kung kailangan.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon3" src="assets/eqPrep/pwd.png">
              </td>
              <td class="info">
                <b>Prioritize the needs of older persons,pregnant women, PWDs and children.</b>
                <br>
                <i>Unahin ang mga pangangailangan ng mga matatanda,buntis,may kapansanan at mga bata.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon3" src="assets/eqPrep/wave.png">
              </td>
              <td class="info">
                <b>If in a coastal area and thre is a threat of a tsunami, evacuate to higher ground immediately.</b> 
                <br>
                <i>Kapag nasa tabing dagat at may banta tsunami, agad na lumikas pumunta sa ligtas at mataas na lugar.</i>
            </tr>
  
            <tr>
              <td>
                <img class="icon3" src="assets/eqPrep/spill.png">
              </td>
              <td class="info">
                <b>Check for spills of toxic and flammable chemicals.</b>
                <br>
                <i>Suriin kung may matapang nakakalason kemikal at mga bagay na maaring pagmulan ng sunog.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon3" src="assets/eqPrep/bldg.png">
              </td>
              <td class="info">
                <b>Stay out of the building until advised that it is safe to return.</b>
                <br>
                <i>Huwag bumalik sa loob ng gusali hanggat wala abiso na ligtas na ito.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon3" src="assets/eqPrep/leak.png">
              </td>
              <td class="info">
                <b>Check for damage in water and electric lines,and gas or LPG leaks.</b>
                <br>
                <i>Suriin ang mga linya ng tubig at kuryente para sa maaring pinsala.Suriin din ang tangke ng gas o LPG.</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</ion-content>
