<ion-content>
  <div class="container">
    <div class="skip" routerLink="/welcome">
      Skip
    </div>

    <div class="img">
      <img class="law" src="assets/onBoardImg/law.png">
    </div>

    <div class="text">
      <h1>R.A. 10121</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Nemo quaerat consequuntur ipsum molestias, pariatur, molestiae 
        fuga delectus iure minima nihil nesciunt, quod sunt aperiam 
        temporibus quis quo accusamus debitis velit!</p>
    </div>

    <div class="nav">
      <img class="prev" src="assets/onBoardImg/prev.png">
      <img class="progress" src="assets/onBoardImg/circle-filled.png">
      <img class="progress" src="assets/onBoardImg/circle.png">
      <img class="progress" src="assets/onBoardImg/circle.png">
      <img class="next" routerLink="/on-board2" src="assets/onBoardImg/next.png">
    </div>

  </div>
</ion-content>