<!-- Disaster Mainpage -->

<ion-content>
  <div class="container1">
    <div class="back-button" routerLink="/home-screen">
      <img class="backBtn" src="assets/button/bckBtn.png">
    </div>
  </div>

  <div class="container2">
    <div class="panel1" routerLink="/cyclone-page">
      <img class="cyclone" src="assets/disaster/cyclone.png">
      <p class="tc">Tropical Cyclone</p>
    </div>

    <div class="panel2" routerLink="/earthquake-page">
      <img class="eartquake" src="assets/disaster/earthquake.png">
      <p class="eq">Earthquake</p>
    </div>

    <div class="panel3" routerLink="/flooding-page">
      <img class="flood" src="assets/disaster/flood.png">
      <p class="fld">Flooding</p>
    </div>
  </div>
</ion-content>
