
<!-- About Page -->

<ion-content>
    <div class="container">
        <div class="back" routerLink="/account-page">
            <img class="backBtn" src="assets/button/bckBtn.png">
        </div>

        <div class="desc">
            <label>DRR App</label>
            <p class="text">
                This app was developed to provide <b>Disaster Risk Reduction</b> information to
                all residents of Jaen in accordance to the <b>Republic Act 10121</b> or the 
                <b>Philippine Disaster Risk Reduction and Management Act of 2010</b>. 
            </p>

            <br>
            <p class="text">
                For more updates, activities and announcements, visit MDRRMO Jaen FB Page:
            </p>

            <div class="img">
                <a href="https://www.facebook.com/mdrrmo.jaen?mibextid=ZbWKwL">
                    <img class="icon" src="assets/logo/fb.png">
                </a>
                <a class="lbl" href="https://www.facebook.com/mdrrmo.jaen?mibextid=ZbWKwL">DRRMO Jaen</a>
            </div>
        </div>
    </div>
</ion-content>
