
<!-- OTHER DISASTER PAGE -->

<ion-content>
  <div class="container">
    <div class="back" routerLink="/info-page">
      <img class="backBtn" src="assets/button/bckBtn.png">
    </div>
  </div>

  <div class="container2">
    <div class="panel1" routerLink="/fire-page">
      <img class="fire" src="assets/disaster/fire.png">
      <p class="fr">Fire</p>
    </div>

    <div class="panel2" routerLink="/landslide-page">
      <img class="lands" src="assets/disaster/landslide.png">
      <p class="ls">Landslide</p>
    </div>

    <div class="panel3" routerLink="/volcanic">
      <img class="volc" src="assets/disaster/volcano.png">
      <p class="ve">Volcanic Eruption</p>
    </div>
  </div>
</ion-content>
