
<!-- Landslide Preparation Page -->

<ion-content>
  <div class="container">
    <div class="back" routerLink="/landslide-page">
      <img class="backBtn" src="assets/button/bckBtn.png">
    </div>

    <!-- BEFORE -->
    <div class="landslidePrep">
      <div class="text">
        <p class="lndsld">What to do when a Landslide occurs?</p>
      </div>

      <div class="before">
        <p class="bfr">BEFORE</p>
      </div>
  
      <div class="before">
        <p class="sub">Know the Hazards in your Area.</p>
      </div>

      <div class="content1">
        <div class="tbl">
          <table>
            <tr>
              <td>
                <img class="icon" src="assets/landslidePrep/idea.png">
              </td>

              <td class="info">
                <b>Know the landslide prone areas and learn the early signs of impending landslide.</b>
                <br>
                <i>Alamin ang mga lugar na may banta ng pagguho ng lupa at alamin ang mga paghahandaan nila.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/landslidePrep/radio.png">
              </td>

              <td class="info">
                <b>Monitoring the news for weather updates, warnings and advisories.</b>
                <br>
                <i>Alamin ang balita ukol sa panahon at mga anunsyo pangkaligtasan.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/landslidePrep/bag.png">
              </td>

              <td class="info">
                <b>Prepare your family's GO BAG containing item needed for survival.</b>
                <br>
                <i>Ihanda GO BAG na naglalaman ng mga pangangailangan ng pamilya.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/landslidePrep/house.png">
              </td>

              <td class="info">
                <b>Know the location of the evacuation site and the fastest and safest way to go there.</b>
                <br>
                <i>Alamin ang lugar na paglilikasan at ang pinakamabilis at ligtas na daan patungo dito.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/landslidePrep/evac.png">
              </td>

              <td class="info">
                <b>When notified, immediately evacuate t safer grounds.</b>
                <br>
                <i>Kapag inabisuhan ng kinauukulan, mabilis na lumikas sa ligtas na lugar.</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- DURING -->
    <div class="duringCont">
      <div class="during">
        <p class="bfr">DURING</p>
      </div>
  
      <div class="during">
        <p class="sub">Stay in a Safe Area and Be Alert.</p>
      </div>

      <div class="content2">
        <div class="tbl">
          <table>
            <tr>
              <td>
                <img class="icon2" src="assets/landslidePrep/ducking.png">
              </td>

              <td class="info">
                <b> When inside a house or building and evacuation is not possible, stay inside and get under a sturdy table.</b>
                <br>
                <i>Kapag nasa labas, umiwas sa gumuhong lupa at magtungo sa mas ligtas na lugar.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon2" src="assets/landslidePrep/evac.png">
              </td>

              <td class="info">
                <b>When outside,avoid affected areas and go to a safer place.</b>
                <br>
                <i>Kapag nasa labas, umiwas sa gumuhong lupa at magtago sa mas ligtas na lugar.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon2" src="assets/landslidePrep/man.png">
              </td>

              <td class="info">
                <b>When landslide cannot be avoided, protect your head.</b>
                <br>
                <i>Kung hindi maiiwasan na tamaan ng gumuhong lupa, protektahan ang sarili.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon2" src="assets/landslidePrep/bridge.png">
              </td>

              <td class="info">
                <b>When driving, do not cross bridges and damaged roads.</b>
                <br>
                <i>Kung magmamaneho, huwag dadaan sa mga daanan sa mga tulay at nasirang kalsada.</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- AFTER -->
    <div class="afterCont">
      <div class="after">
        <p class="bfr">AFTER</p>
      </div>
  
      <div class="after">
        <p class="sub">Monitor the Situation and Stay Alert.</p>
      </div>

      <div class="content3">
        <div class="tbl">
          <table>
            <tr>
              <td>
                <img class="icon3" src="assets/landslidePrep/firefighter.png">
              </td>

              <td class="info">
                <b>Leave the evacuation area only when authorities say it safe.</b>
                <br>
                <i>Lisanin lamang ang evacuation area kapag ligtas na ayon sa kinauukulan.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon3" src="assets/landslidePrep/landslide.png">
              </td>

              <td class="info">
                <b>Avoid landslide affected areas.</b>
                <br>
                <i>Umiwas sa mga lugar na may pagguho ng lupa.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon3" src="assets/landslidePrep/car.png">
              </td>

              <td class="info">
                <b>Watch out for possible flashfloods due to clogging of creeks or rivers.</b>
                <br>
                <i>Kung malapit sa estero o ilog maging alerto sa posibilidad ng biglaan pagtaas ng tubig.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon3" src="assets/landslidePrep/group.png">
              </td>

              <td class="info">
                <b>Check for missing persons and report it to authorities.</b>
                <br>
                <i>Alamin kung may nawawalang kaanak o kakilala at ireport agad ito sa kinauukulan.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon3" src="assets/landslidePrep/ambulance.png">
              </td>

              <td class="info">
                <b>Bring the injured and sick to the nearest hospital.</b>
                <br>
                <i>Dalhin sa pinakamalapit na ospital ang mga nasugatan at may karamdaman.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon3" src="assets/landslidePrep/fix.png">
              </td>

              <td class="info">
                <b>Check your house for possible damages and repair as necessary.</b>
                <br>
                <i>Suriin ang bahay kung may mga nasira at ipaayos ang mga ito kung kailangan.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon3" src="assets/landslidePrep/phone.png">
              </td>

              <td class="info">
                <b>Report fallen trees and electric posts to proper authorities.</b>
                <br>
                <i>Ipagbigay-alam sa kinauukulan ang mga natumbang puno at poste ng kuryente o telepono.</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</ion-content>
