<ion-content>
  <div class="container">
    <div class="cover">
      <div class="back" routerLink="/disaster-mainpage">
        <img class="backBtn" src="assets/button/bckBtn.png">
      </div>

      <div>
        <img class="eq" src="assets/disaster/eq.jpg">

        <div class="notice" routerLink="/earthquakeprep">
          <img class="ntc" src="assets/disaster/notice2.png">
        </div>
      </div>

      <div class="lbl">
        <p class="label">Earthquake</p>
      </div>
      <div class="earthquake">
        <img class="icon" src="assets/disaster/earthquake.png">
      </div>
    </div>

    <div class="content">
      <div class="desc">
        <p>An <b>earthquake</b> is a weak to violent shaking of the ground produced by the 
          sudden movement of rock materials below the earth’s surface.
          The earthquakes originate in tectonic plate boundary. The focus is point inside 
          the earth where the earthquake started, sometimes called the <b>hypocenter</b>, and the 
          point on the surface of the earth directly above the focus is called the 
          <b>epicenter</b>.
        </p>
      </div>

      <div class="accordion">
        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck1">
            <label class="tab-label" for="chck1">Types of Earthquake</label>

            <div class="tab-content">
              There are two types of earthquakes: <b>tectonic</b> and <b>volcanic</b> earthquakes.
            </div>

            <div class="tab-content">
              <b>Tectonic earthquakes</b> are produced by sudden movement along faults 
              and plate boundaries.
            </div>

            <div class="tab-content">
              Earthquakes induced by rising lava or magma beneath active volcanoes is 
              called <b>volcanic earthquakes</b>.
            </div>
          </div>
        </div>

        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck2">
            <label class="tab-label" for="chck2">Ways of Measuring Earthquake Strength</label>

            <div class="tab-content">
              There are two ways by which we can measure the strength of an earthquake: 
              <b>Magnitude</b> and <b>Intensity</b>.
            </div>

            <div class="tab-content">
              <b>Magnitude</b> is proportional to the energy released by an earthquake at the focus. 
              It is calculated from earthquakes recorded by an instrument called seismograph. 
              It is represented by Arabic Numbers (e.g. 4.8, 9.0). 
            </div>

            <div class="tab-content">
              <b>Intensity</b> on the other hand, is the strength of an earthquake as perceived and felt by people in a 
              certain locality. It is a numerical rating based on the relative effects to 
              people, objects, environment, and structures in the surrounding. The intensity 
              is generally higher near the epicenter. It is represented by Roman Numerals 
              (e.g. II, IV, IX). In the Philippines, the intensity of an earthquake is 
              determined using the PHIVOLCS Earthquake Intensity Scale (PEIS).
            </div>
          </div>
        </div>

        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck3">
            <label class="tab-label" for="chck3">Earthquake Intensity Scale</label>

            <div class="tab-content">
              <div class="tbl">
                <table>
                  <tr>
                    <th>Intensity</th>
                    <th>Shaking</th>
                  </tr>

                  <tr>
                    <td class="is1"><b>I</b></td>
                    <td>Scarcely Perceptible</td>
                  </tr>

                  <tr>
                    <td class="is2"><b>II</b></td>
                    <td>Slightly Felt</td>
                  </tr>

                  <tr>
                    <td class="is3"><b>III</b></td>
                    <td>Weak</td>
                  </tr>

                  <tr>
                    <td class="is4"><b>IV</b></td>
                    <td>Moderately Strong</td>
                  </tr>

                  <tr>
                    <td class="is5"><b>V</b></td>
                    <td>Strong</td>
                  </tr>

                  <tr>
                    <td class="is6"><b>VI</b></td>
                    <td>Very Strong</td>
                  </tr>

                  <tr>
                    <td class="is7"><b>VII</b></td>
                    <td>Destructive</td>
                  </tr>

                  <tr>
                    <td class="is8"><b>VIII</b></td>
                    <td>Very Destructive</td>
                  </tr>

                  <tr>
                    <td class="is9"><b>IX</b></td>
                    <td>Devastating</td>
                  </tr>

                  <tr>
                    <td class="is10"><b>X</b></td>
                    <td>Completely Devastating</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>
</ion-content>
