
<!-- Cyclone Preparation Page -->

<ion-content>
  <div class="container">
    <div class="back" routerLink="/cyclone-page">
        <img class="backBtn" src="assets/button/bckBtn.png">
    </div>


    <!-- BEFORE -->
    <div class="beforeCont">
      <div class="text">
        <p class="tc">What to do when a Tropical Cyclone occurs?</p>
      </div>
  
      <div class="before">
        <p class="bfr">BEFORE</p>
      </div>
  
      <div class="before">
        <p class="sub">Monitor the News for Weather Updates</p>
      </div>
  
      <div class="content1">
        <div class="tbl">
          <table>
            <tr>
              <td>
                <img class="icon" src="assets/tcPrep/radio.png">
              </td>
              <td class="info">
                <b>Monitor the news for weather updates, warning and advisories.</b>
                <br>
                <i>Alamin ang balita ukol sa panahon at mga anunsyong pangkaligtasan.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon" src="assets/tcPrep/check.png">
              </td>
              <td class="info">
                <b>Know the early warning and evacuation plan of the community.</b>
                <br>
                <i>Alamin ang plano ng komunidad sa pagbibigay-babala at paglikas.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon" src="assets/tcPrep/fix.png">
              </td>
              <td class="info">
                <b>Check the integrity of your house and repair weak parts.</b> 
                <br>
                <i>Suriin ang bahay at kumpunihin ang mga mahina o sirang bahagi nito.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon" src="assets/tcPrep/gobag.png">
              </td>
              <td class="info">
                <b>Prepare your family's GO BAG containing item needed for survival.</b>
                <br>
                <i>Ihanda ang GO BAG na naglalaman ng mga pangangailangan ng pamilya.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon" src="assets/tcPrep/pets.png">
              </td>
              <td class="info">
                <b>Put livestock and pets in safe area or designated evacuation site for animals.</b>
                <br>
                <i>Ilikas ang mga alagang hayop sa ligtas na lugar.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon" src="assets/tcPrep/evac.png">
              </td>
              <td class="info">
                <b>When notified, immediately go to the designated evacuation center.</b>
                <br>
                <i>Kapag inabisuhan ng kinauukulan, mabilis na lumikas sa itinakdang evacuation center.</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>


    <!-- DURING -->
    <div class="duringCont">
      <div class="during">
        <p class="bfr">DURING</p>
      </div>
  
      <div class="during">
        <p class="sub">Stay Alert and Stay Tuned</p>
      </div>
  
      <div class="content2">
        <div class="tbl">
          <table>
            <tr>
              <td>
                <img class="icon2" src="assets/tcPrep/home.png">
              </td>
              <td class="info">
                <b>Stay calm. Stay indoors and tune in for latest news and weather updates.</b>
                <br>
                <i>Manatiling mahinahon.Manatili sa loob ng bahay o evacuation center at 
                  makinig sa pinakabagong balita at taya ng panahon.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon2" src="assets/tcPrep/switch.png">
              </td>
              <td class="info">
                <b>Turn off main electrical switch and water valve.</b>
                <br>
                <i>Patayin ang main switch ng kuryente at valve ng tubig.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon2" src="assets/tcPrep/flashlight.png">
              </td>
              <td class="info">
                <b>Use flashlight or emergency lamp. Be cautious in using candles and gas lamps.</b> 
                <br>
                <i>Gumamit ng flashlight o emergency lamp. Maging maingat sa paggamit ng kandila o gasera.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon2" src="assets/tcPrep/window.png">
              </td>
              <td class="info">
                <b>Stay away from glass windows.</b>
                <br>
                <i>Umiwas sa mga salaming bintana.</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- AFTER -->
    <div class="afterCont">
      <div class="after">
        <p class="bfr">AFTER</p>
      </div>
  
      <div class="after">
        <p class="sub">Remain Alert and Be Cautious</p>
      </div>
  
      <div class="content1">
        <div class="tbl">
          <table>
            <tr>
              <td>
                <img class="icon3" src="assets/tcPrep/firefighter.png">
              </td>
              <td class="info">
                <b>Wait for authorities to declare that it is safe to return home.</b>
                <br>
                <i>Hintayin ang abiso ng kinauukulan ng ligtas ng bumalik sa tahanan.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon3" src="assets/tcPrep/house.png">
              </td>
              <td class="info">
                <b>Stay away from fallen trees, damaged structures, and power lines.</b>
                <br>
                <i>Umiwas sa mga natumbang puno, nasirang gusali at linya ng kuryente.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon3" src="assets/tcPrep/block.png">
              </td>
              <td class="info">
                <b>Do not go sightseeing as you may hinder the work of the emergency services.</b> 
                <br>
                <i>Huwag gumala upang hindi maabala ang emergency services.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon3" src="assets/tcPrep/fix.png">
              </td>
              <td class="info">
                <b>Be cautious in checking and repairing the damaged parts of your house.</b>
                <br>
                <i>Maging maingat sa pagsasaaayos ng mga nasirang bahagi ng bahay.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon3" src="assets/tcPrep/elect.png">
              </td>
              <td class="info">
                <b>Check for wet or submerged electrical outlets and appliances before turning on electricity.</b>
                <br>
                <i>Siguraduhing walang basa o nakababad na outlet o kagamitan bago buksan ang linya ng kuryente.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon3" src="assets/tcPrep/tire.png">
              </td>
              <td class="info">
                <b>Throw away rainwater in cans,pots and tires to prevent breeding of mosquitos.</b>
                <br>
                <i>Itapon ang mga naipong tubig sa lata, paso at gulong upang hindi pamahayan ng lamok.</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</ion-content>
