<ion-content>
  <div class="container">
    <div class="skip" routerLink="/welcome">
      Skip
    </div>

    <div class="img1">
      <img class="cyclone" src="assets/onBoardImg/cyclone.png">
    </div>

    <div class="img2">
      <img class="eq" src="assets/onBoardImg/eq.png">
      <img class="flood" src="assets/onBoardImg/flood.png">
    </div>

    <div class="text">
      <h1>Disaster</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Nemo quaerat consequuntur ipsum molestias, pariatur, molestiae 
        fuga delectus iure minima nihil nesciunt, quod sunt aperiam 
        temporibus quis quo accusamus debitis velit!</p>
    </div>

    <div class="nav">
      <img class="prev" routerLink="/on-board1" src="assets/onBoardImg/prev.png">
      <img class="progress" src="assets/onBoardImg/circle.png">
      <img class="progress" src="assets/onBoardImg/circle-filled.png">
      <img class="progress" src="assets/onBoardImg/circle.png">
      <img class="next" routerLink="/on-board3" src="assets/onBoardImg/next.png">
    </div>

  </div>
</ion-content>