
<!-- VOLCANIC ERUPTION PAGE -->

<ion-content>
  <div class="container">
    <div class="cover">
      <div class="back" routerLink="/others">
        <img class="backBtn" src="assets/button/bckBtn.png">
      </div>

      <div>
        <img class="volc" src="assets/disaster/volcano.jpg">
      </div>

      <div class="notice" routerLink="/volcanicprep">
        <img class="ntc" src="assets/disaster/notice6.png">
      </div>

      <div class="lbl">
        <p class="label">Volcanic Eruption</p>
      </div>

      <div class="v">
        <img class="icon" src="assets/disaster/volcano.png">
      </div>
    </div>

    <div class="content">
      <div class="desc">
        <p>
          An eruption of molten rock, hot rock fragments, and hot gases through a volcano, 
          which is a vent in a planet’s or satellite’s crust. Volcanic eruptions can cause 
          disastrous loss of life and property.
        </p>
        <p>
          Volcanic eruptions occur as a result of heat moving under Earth’s surface. They 
          often begin with an accumulation of gas-rich magma (molten underground rock) in 
          reservoirs near Earth’s surface, though they may be preceded by emissions of steam 
          and gas from small vents in the ground. Small earthquakes, which may be caused by 
          a rising plug of dense, viscous magma oscillating against a sheath of more permeable 
          magma, may also signal volcanic eruptions, especially explosive ones.
        </p>
      </div>
      
      <div class="accordion">
        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck1">
            <label class="tab-label" for="chck1">Why Philippines have many volcanoes?</label>

            <div class="tab-content">
              The Philippines sits on a unique tectonic setting ideal to volcanism and 
              earthquake activity. It is situated at the boundaries of two tectonic plates - 
              the <b>Philippine Sea Plate</b> and the <b>Eurasian plate</b> - both of which subduct or dive 
              beneath the archipelago along the deep trenches along its east and west seaboard.
            </div>
          </div>
        </div>

        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck2">
            <label class="tab-label" for="chck2">Volcanic hazards directly associated with eruption</label>
          
            <div class="tab-content">
              <li>Lava flow</li>
              <li>Tephra fall or ashfall and ballistic projectiles</li>
              <li>Pyroclastic density currents or PDCs (pyroclastic flow, pyroclastic surge, base surge)</li>
              <li>Lateral blast</li>
              <li>Volcanic gas</li>
            </div>
          </div>
        </div>

        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck3">
            <label class="tab-label" for="chck3">Volcanic hazards indirectly associated with eruption</label>

            <div class="tab-content">
              <li>Lahar, flooding</li>
              <li>Debris avalanche, landslide</li>
              <li>Volcanic tsunami</li>
              <li>Ground deformation (subsidence, fissuring)</li>
              <li>Secondary explosion</li>
              <li>Secondary PDCs and ashfall</li>
            </div>
          </div>
        </div>

        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck4">
            <label class="tab-label" for="chck4">Volcanic Hazards</label>

            <div class="tab-content">
              <div class="text">
                <b>LAVA FLOW</b>
              </div>
              - Lava flows are rivers of incandescent of molten rock or lava moving downslope 
              or away from an eruption vent. Lava flows composed of low silica magma have low 
              viscosities and tend to flow at high speeds (kilometers per hour), while those 
              composed of high silica magma have high viscosities and tend to move slowly 
              (kilometers per day).  Steep slopes encourage faster and longer flows than 
              gentle slopes or terrain.
            </div>

            <div class="tab-content">
              <div class="text">
                <b>TEPHRA FALL or ASHFALL and BALLISTIC PROJECTILES</b>
              </div>
              - Tephra (fragmented volcanic particles) or ash (fragmented volcanic particles 
              less than 2 mm in diameter) propelled through the atmosphere in an eruption plume 
              or an eruption column eventually fall or gravitationally settle over areas 
              downwind of an erupting volcano, forming blankets of tephra fall or ashfall. 
              Ashfall can also be rained out from the ash clouds of PDCs.
            </div>

            <div class="tab-content">
              <div class="text">
                <b>PYROCLASTIC DENSITY CURRENTS or PDCs</b>
              </div>
              - PDCs are mixtures of fragmented volcanic particles (pyroclastics), hot gases 
              and ash that rush down the volcanic slopes or rapidly outward from a source vent 
              at high speeds. PDCs range from pyroclastic flows to pyroclastic surges depending 
              mainly on particle concentrations, pyroclastic flows being denser, and therefore 
              ground-hugging currents and pyroclastic surges being more dilute, more mobile 
              currents.
            </div>

            <div class="tab-content">
              <div class="text">
                <b>LATERAL BLASTS</b>
              </div>
              - Lateral blasts are laterally-directed thrusts of hot gas and ash that can be 
              generated from an exploding dome on the summit vent or inside the edifice when 
              sudden mass failure of the volcanic flanks occur. Lateral blasts travel at 
              subsonic speeds at the onset, flattening everything in their paths and causing 
              impacts similar to those of PDCs.
            </div>

            <div class="tab-content">
              <div class="text">
                <b>VOLCANIC GAS</b>
              </div>
              - Volcanic gases form a dissolved component of magma that is released to the 
              atmosphere in large quantities during eruptions. The principal volcanic gases 
              are water vapor, hydrogen sulfide, sulfur dioxide, carbon dioxide, carbon 
              monoxide, hydrogen chloride and hydrogen fluoride. Minor amounts of nitrogen, 
              methane, argon and helium can also be degassed from magma.
            </div>

            <div class="tab-content">
              <div class="text">
                <b>LAHAR</b>
              </div>
              - Lahars (an Indonesian term), sometimes called volcanic mudflows or debris 
              flows, are slurries of volcanic sediment, debris and water that cascade down a 
              volcano’s slopes through rivers and channels. Lahars in tropical areas are mainly 
              generated by torrential rainfall on unconsolidated deposits from a past eruption. 
              These can also be triggered by the sudden draining of a crater lake or a 
              collapsed natural or man-made dam or the movement of a PDC into a river or lake 
              and eventual mixing with water.
            </div>

            <div class="tab-content">
              <div class="text">
                <b>DEBRIS AVALANCHE (SECTOR COLLAPSE)</b>
              </div>
              - <b>Debris avalanche or sector collapse</b> is the mass failure of the flanks of a 
              volcano edifice due to magma intrusion, a strong earthquake or the movements of 
              faults beneath the edifice. Debris avalanche events form a horseshoe-shaped scar 
              or <b>amphitheater</b>, from which the collapse mass has detached from the edifice to 
              form a field of <b>hummocks</b> or small hills downslope of the amphitheater. Debris 
              avalanches are rare phenomena but are extremely hazardous when they do occur, 
              endangering localities far beyond the usual extents of more frequent volcanic 
              hazards.
            </div>

            <div class="tab-content">
              <div class="text">
                <b>VOLCANIC TSUNAMI</b>
              </div>
              - Volcanic tsunami occur in caldera lakes when water is displaced by deformation 
              of the lake floor caused by rising magma or the entry of PDCs or landslides into 
              the lake, or in seas when water is displaced by PDCs or debris avalanches from 
              volcanoes. Such tsunamis are unlike those generated by large magnitude offshore 
              earthquakes, which are long-period waves generated by fault displacement or 
              deformation of the seafloor.
            </div>

            <div class="tab-content">
              <div class="text">
                <b>GROUND SUBSIDENCE and FISSURING</b>
              </div>
              - Ascending magma can cause the volcano edifice to swell before and during an 
              eruption, causing the ground to break up into fissures, typically along 
              weaknesses in the rock such as fractures or faults. After magma has been erupted, 
              its removal from the subsurface can cause the ground to sink and subside and 
              further fissuring to occur. Ground subsidence and fissuring are typically 
              accompanied by earthquakes, and altogether can cause infrastructural and house 
              or building damages, loss or degradation of land surface and re-routing of 
              waterways and rivers.
            </div>

            <div class="tab-content">
              <div class="text">
                <b>SECONDARY EXPLOSIONS, PDCs and ASHFALL</b>
              </div>
              - Secondary explosions can be generated in still hot volcanic deposits such as 
              those of PDCs and lava flow when these come into contact with water by erosion, 
              rising groundwater or rainfall. These can cause remobilization of volcanic 
              material to generate small-scale PDCs and minor ashfall.
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
