
<!-- Fire Preparation Page -->

<ion-content>
  <div class="container">
    <div class="back" routerLink="/fire-page">
      <img class="backBtn" src="assets/button/bckBtn.png">
    </div>

    <div class="firePrev">
      <div class="text">
        <p class="fr">What to do when a Fire occurs?</p>
      </div>

      <div class="fireP">
        <p class="fire">FIRE PREVENTION</p>
      </div>

      <div class="content">
        <div class="tbl">
          <table>
            <tr>
              <td>
                <img class="icon" src="assets/firePrep/firefighter.png">
              </td>

              <td class="info">
                <b>Befriend a fireman.</b>
                <br>
                <i>Makipagkaibigan sa bumbero.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/firePrep/alarm.png">
              </td>
              <td class="info">
                <b>Ensure that fire alarms and springklers work.</b>
                <br>
                <i>Siguraduhin gumagana ang mga fire alarms at springklers.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/firePrep/evac.png">
              </td>
              <td class="info">
                <b>Practice your evacuation plan and participate in fire drills.</b>
                <br>
                <i>Sanayin ang sarili at mga kasamahan sa evacuation plan at sumali sa mga fire drills.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/firePrep/lpg.png">
              </td>
              <td class="info">
                <b>Turn off LPG tank when not in use.</b>
                <br>
                <i>Isara ang LPG kapag hindi ginagamit.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/firePrep/tools.png">
              </td>
              <td class="info">
                <b>Hire an electrician to check on your electrical wiring at least once a year.</b>
                <br>
                <i>Ipasuri sa electician ang koneksyon sa mga kuryente taon-taon.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/firePrep/plug.png">
              </td>
              <td class="info">
                <b>Unplug appliance and gadgets after using or changing.</b>
                <br>
                <i>Tanggalin sa pagkakasaksak ang mga gamit matapos itong gamitin.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/firePrep/candles.png">
              </td>
              <td class="info">
                <b>DO NOT leave lighted candles and cigarettes unattended.</b>
                <br>
                <i>Huwag pabayaan ang mga nakasinding kandila o sigarilyo.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/firePrep/teach.png">
              </td>
              <td class="info">
                <b>Teach children on fire safety.</b>
                <br>
                <i>Turuan ang mga kabataan ukol sa pag-iwas sa sunog.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/firePrep/extinguisher.png">
              </td>
              <td class="info">
                <b>Learn how to use a fire extinguisher. Remember PASS: Pull the pin, Aim the nozzle at the base of fire, Squeeze the level, and Sweep from side to side.</b>
                <br>
                <i>Alamin ang pag gamit ng fire extinguisher: hilahin ang 'pin', itapat ang hose sa pinagmumulan ng apoy, diinan ang pindutan ang hose na parang winawasiwas ang apoy.</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="fireCase">
      <div class="fireC">
        <p class="fire">IN CASE OF FIRE</p>
      </div>

      <div class="content">
        <div class="tbl">
          <table>
            <tr>
              <td>
                <img class="icon2" src="assets/firePrep/exit.png">
              </td>

              <td class="info">
                <b>Stay calm and evacuate immediately.</b>
                <br>
                <i>Manatiling mahinahon at agad lumikas.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon2" src="assets/firePrep/fireAlrm.png">
              </td>
              <td class="info">
                <b>Sound the fire alarm and call 911 for assistance.</b>
                <br>
                <i>Patunugin ang fire alarm at tumawag sa 911 para sa kagyat at tulong.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon2" src="assets/firePrep/stair.png">
              </td>
              <td class="info">
                <b>If you're in a building, use the stairs and do not use elevators.</b>
                <br>
                <i>Kung nasa loob ng isang gusali, gumamit ng hagdan sa paglikas, Huwag gumamit ng elevator.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon2" src="assets/firePrep/handle.png">
              </td>
              <td class="info">
                <b>Before opening doors, check handle first. If hot, DO NOT OPEN as the room may already be on fire.</b>
                <br>
                <i>Bago buksan ang anumang pinto, pakiramdaman muna kung ito ay maiinit. Huwag buksan kung ito ay maiinit dahil maaaring may sunog na sa loob nito.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon2" src="assets/firePrep/fire.png">
              </td>
              <td class="info">
                <b>If there is smoke, get down low and cover your mouth and nose with damp cloth.</b>
                <br>
                <i>Kapag may makapal na usok, gumapang papuntang ligtas na lugar. Takpan ang bibig or ilong ng basang tela o damit</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon2" src="assets/firePrep/SDR.png">
              </td>
              <td class="info">
                <b>If your clothes catch fire, STOP running, DROP on the floor, and ROLL to put our the flames.</b>
                <br>
                <i>Kapag umapoy ang damit na suot, tumigil sa pagtakbo, dumapa at magpagulong-gulong hanggang maapula ang apoy.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon2" src="assets/firePrep/flag.png">
              </td>
              <td class="info">
                <b>If trapped, stay in the room and signal for helps using bright-colored cloth at the windows or make noise.</b>
                <br>
                <i>Kapag hindi makalabas, manatili sa loob at humingi ng tulong gamit ang tela na may matingkad na kulay o gumawa ng ingay para marinig ng mga rescuers.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon2" src="assets/firePrep/noHouse.png">
              </td>
              <td class="info">
                <b>After the fire, do not return inside your house or building unless authorities deedmed it safe.</b>
                <br>
                <i>Pagkatapos ng sunog,huwag bumalik sa loob ng bahay o gusali hangga't wala pang abiso ang kinauukulan.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon2" src="assets/firePrep/search.png">
              </td>
              <td class="info">
                <b>Have yourself checked for injuries.</b>
                <br>
                <i>Ipasuri and sarili kung nasugatan o nasaktan.</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</ion-content>
