
<!-- FIRE Page -->

<ion-content>
  <div class="container">
    <div class="cover">
      <div class="back" routerLink="/others">
        <img class="backBtn" src="assets/button/bckBtn.png">
      </div>

      <div>
        <img class="f" src="assets/disaster/fire.jpg">
      </div>

      <div class="notice" routerLink="/fireprep">
        <img class="ntc" src="assets/disaster/notice4.png">
      </div>

      <div class="lbl">
        <p class="label">Fire</p>
      </div>

      <div class="fre">
        <img class="icon" src="assets/disaster/fire.png">
      </div>
    </div>

    <div class="content">
      <div class="desc">
        <p>
          A fire is a state of combustion, whereby heat and light are produced. In other words, 
          a fire is the destructive burning of material that produces light, flame, heat and 
          smoke.
        </p>

        <p>
          The menace of fire as a potential disaster is with us every day. Most of the deaths 
          that have resulted from fires could have been avoided. Fires have become increasingly 
          life threatening hazards, because within a few minutes it can kill and destroy.
        </p>
      </div>

      <div class="accordion">
        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck1">
            <label class="tab-label" for="chck1">Major Causes of Fires</label>

            <div class="tab-content">
              <b>Electrical Accidents or Neglect</b> - misuse of wiring and electrical appliances, 
              leaving a curling iron on, or an electric blanket, shorting out of small 
              appliances such as lamps, toasters and even baby monitors.
            </div>

            <div class="tab-content">
              <b>Smoking</b> - a dropped cigarette or children playing with matches and 
              lighters, inadequate ashtray.
            </div>

            <div class="tab-content">
              <b>Kitchen accidents</b> - unattended pots on the stove or the burner being left 
              on accidentally.
            </div>

            <div class="tab-content">
              <b>Heating Equipment</b> - space heaters, gas heaters, wood stoves, and fireplaces, 
              mainly in winter months. Portable heaters can be knocked over or placed too 
              close to flammable materials, or they are inadequately guarded. All heaters 
              could overheat if obstructed.
            </div>

            <div class="tab-content">
              <b>Burning Refuse/Rubbish</b> - accumulating in work or storage areas.
            </div>

            <div class="tab-content">
              <b>Hazardous Goods</b> - materials such as paints, adhesives or other chemicals.
            </div>

            <div class="tab-content">
              <b>Arson</b> - by mischievous children and adults, facilitated by ineffectively 
              secured buildings.
            </div>

            <div class="tab-content">
              <b>Specific Hazards</b> - machinery in dusty environments, heated equipment (e.g. 
              soldering irons), lamps, cutting and welding equipment, flammable liquids.
            </div>
          </div>
        </div>

        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck2">
            <label class="tab-label" for="chck2">Basic Characteristics of Fires</label>

            <div class="tab-content">
              <div class="text">
                <b>To protect yourself, you should know how fires spread.</b>
              </div>
            </div>

            <div class="tab-content">
              <li>It spreads quickly; there is no time to gather valuables or make a phone call.</li>
              <li>In just two minutes, it can become life-threatening.</li>
              <li>In five minutes, a residence can be engulfed in flames.</li>
              <li>The heat and smoke can be more dangerous than the flames.</li>
              <li>Inhaling the super-hot air can sear your lungs.</li>
              <li>Fire produces poisonous gases that make you disoriented and drowsy.</li>
              <li>Instead of being awakened by a fire, you may fall into a deeper sleep.</li>
              <li>Asphyxiation is the leading cause of fire deaths, exceeding burns by a three-to-one ratio.</li>
            </div>

            <div class="tab-content">
              Fires can spread so quickly. <b>Please be prepared</b> and make sure your family is 
              aware of the emergency plans you have in place. Practice your evacuation plan 
              regularly so everyone knows what to do, where to meet and how to get out of 
              your home quickly.
            </div>
            
          </div>
        </div>

        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck3">
            <label class="tab-label" for="chck3">Types of Fires</label>

            <div class="tab-content">
              <div class="text">
                <b>Class A</b>
              </div>
              - Class A fires are those that include paper, wood, cloth, other textiles and even rubber.
            </div>

            <div class="tab-content">
              <div class="text">
                <b>Class B</b>
              </div>
              - Class B fires are those that include gasoline, propane, paint thinner and kitchen grease.
            </div>

            <div class="tab-content">
              <div class="text">
                <b>Class C</b>
              </div>
              - Class C fires are those that include electricity, such as computers, 
              panel boxes, car motors and electrical wiring. If the electricity is stopped and 
              the fire continues, the class changes to Class A or Class B.
            </div>

            <div class="tab-content">
              <div class="text">
                <b>Class D</b>
              </div>
              - Class D fires are those that include exotic metals such as magnesium and titanium.
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
