
<!-- DRRMO Page -->

<ion-content>
  <div class="container">
    <div class="back" routerLink="/home-screen">
      <img class="backBtn" src="assets/button/bckBtn.png">
    </div>
    
    <div class="accordion">
      <div class="lbl">
        <p class="label">Responsible for Disaster Risk Reduction?</p>
      </div>

      <div class="tabs">
        <div class="tab">
          <input type="checkbox" id="chck1">
          <label class="tab-label" for="chck1">Republic Act 10121</label>

          <div class="tab-content">
            <div class="info">
              <b>Philippine Disaster Risk Reduction and Management Act of 2010</b>
            </div>
            <br>

            <div class="text">
              AN ACT STRENGTHENING THE PHILIPPINE DISASTER RISK REDUCTION AND MANAGEMENT 
              SYSTEM, PROVIDING FOR THE NATIONAL DISASTER RISK REDUCTION AND MANAGEMENT 
              FRAMEWORK AND INSTITUTIONALIZING THE NATIONAL DISASTER RISK REDUCTION AND 
              MANAGEMENT PLAN, APPROPRIATING FUNDS THEREFORE AND FOR OTHER PURPOSES.
            </div>
            <br>

            <div class="text">
              - The Act shifted the policy environment and the way the country deals with disasters 
              from mere response to preparedness. RA 10121 provides a comprehensive, all-hazard, 
              multi-sectoral, inter-agency, and community-based approach to disaster risk  reduction
              management through the formulation of the National Disaster Risk Management 
              Framework.
            </div>
          </div>
        </div>
      </div>

      <div class="tabs">
        <div class="tab">
          <input type="checkbox" id="chck2">
          <label class="tab-label" for="chck2">Four Thematic Areas of DRR</label>

          <div class="tab-content">
            <li>Disaster Preparedness</li>
            <li>Disaster Prevention and Mitigation</li>
            <li>Disaster Response</li>
            <li>Disaster Rehabilitation and Recovery</li>
            <br>

            <div class="info">
              <i>"Each areas has its own programs, projects and activities according to law."</i>
            </div>
          </div>
        </div>
      </div>

      <div class="img">
        <img class="cover" src="assets/drrmo/cover.jpg">
      </div>

      <div class="tabs">
        <div class="tab">
          <input type="checkbox" id="chck3">
          <label class="tab-label" for="chck3">Office of Civil Defense</label>

          <div class="tab-content">
            <div class="info">
              <b>Legal Basis</b>
            </div>
            <br>

            <li><b>Republic Act No. 1190</b> (August 18, 1954), Civil Defense Act of 1954, created the Office of Civil Defense (OCD).</li>
            <li><b>Presidential Decree No. 1</b> (September 24, 1972), supported by Letter of Instructions No. 19 (December 31, 1971), provided for the mandate of the OCD.</li>
            <li><b>Presidential Decree No. 1566</b> (June 11, 1978) designated OCD as the executive arm and secretariat of the National Disaster Coordinating Council.</li>
            <li><b>Memorandum Order</b> from the Office of the President (August 8, 2006) approved the shift of OCD concerns from disaster response paradigm to a more pro-active Disaster Risk Management (DRM).</li>
            <br>

            <div class="info">
              <b>Mandate</b>
            </div>
            <br>
            
            <div class="text">
              The Office of Civil Defense (OCD) coordinates the activities of various government 
              agencies and instrumentalities as well as of private institutions and civic 
              organizations devoted to public welfare. It supervises, monitors, and evaluates 
              the implementation of disaster management programs to ensure their effectiveness.
            </div>
          </div>
        </div>
      </div>

      <div class="img">
        <img class="cover" src="assets/drrmo/ocd.png">
      </div>
    </div>

  </div>
</ion-content>
