
<!-- Information Page -->

<ion-content>
  <div class="container">
    <div class="box1">
      <div class="bar" routerLink="/others">
        <label>OTHER DISASTERS <p class="other">More info ></p></label>
      </div>

      <div class="content"  routerLink="/others">
        <div class="dis1">
          <img class="img" src="assets/disaster/fire.png">
        </div>
        
        <div class="dis2">
          <img class="img" src="assets/disaster/landslide.png">
          <img class="img" src="assets/disaster/volcano.png">
        </div>
      </div>
    </div>

    <div class="box2">
      <div class="bar" routerLink="/gobagprep">
        <label>GO BAG CONTENTS<p class="bag">More info ></p></label>
      </div>

      <div class="gobag" routerLink="/gobagprep">
        <img class="gb" src="assets/gobagPrep/gobag.jpg">
      </div>
    </div>

    <div class="box3">
      <div class="hotline" routerLink="/hotlines">
        <label>EMERGENCY HOTLINES <p class="lines">More info ></p></label>
      </div>

      <div class="emergency" routerLink="/hotlines">
        <div class="logo1">
          <img class="img" src="assets/dept/drrmoLogo.png">
        </div>

        <div class="logo2">
          <img class="img"src="assets/dept/bfpLogo.jpg">
          <img class="pnp" src="assets/dept/pnpLogo.png">
        </div>
      </div>
    </div>
  </div>
</ion-content>

<!-- Navigation Bar -->
<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/home-screen">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/info-page">
    <ion-icon name="albums"></ion-icon>
    <ion-label>Information</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/account-page">
    <ion-icon name="person"></ion-icon>
    <ion-label>Profile</ion-label>
  </ion-tab-button>
</ion-tab-bar>