<ion-content>
  <div class="container">
    <div class="cover">
      <div class="back" routerLink="/disaster-mainpage">
        <img class="backBtn" src="assets/button/bckBtn.png">
      </div>

      <div>
        <img class="fld" src="assets/disaster/fld.jpg">

        <div class="notice" routerLink="/floodingprep">
          <img class="ntc" src="assets/disaster/notice3.png">
        </div>

        <div class="lbl">
          <p class="label">Flooding</p>
        </div>
        <div class="flooding">
          <img class="icon" src="assets/disaster/flood.png">
        </div>
      </div>
    </div>

    <div class="content">
      <div class="desc">
        <p>
          A flood is the overflowing of the normal confines of a stream or other body of 
          water, or the accumulation of water over areas that are not normally submerged. 
          Floods can occur nearly anywhere on Earth; in any place that rain can fall, floods 
          can occur.
        </p>
      </div>

      <div class="accordion">
        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck1">
            <label class="tab-label" for="chck1">Causes of Floods</label>

            <div class="tab-content">
              <div class="info">
                <b>Meteorological Events</b>
              </div>
              
            </div>

            <div class="tab-content">
                - an intense and prolonged rainfall spells.
            </div>

            <div class="tab-content">
              - unusually high coastal and estuarine waters due to storm surges, seiches, etc.
            </div>

            <div class="tab-content">
              <div class="info">
                <b>Seismic Activities</b>
              </div>
            </div>

            <div class="tab-content">
              - tsunamis (seismic sea waves)
            </div>

            <div class="tab-content">
              - sinking of land due to earthquakes reduces the elevation of land areas.
            </div>

            <div class="tab-content">
              - uplifting of lake and river beds from seismic causes sometime results in the 
              overflowing of these bodies of water.
            </div>

            <div class="tab-content">
              <div class="info">
                <b>Atronomically-Influenced Phenomena</b>
              </div>
            </div>

            <div class="tab-content">
              - high tides coinciding with the occurrence of heavy rainfall.
            </div>
          </div>
        </div>

        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck2">
            <label class="tab-label" for="chck2">Types of Floods</label>

            <div class="tab-content">
              <div class="info">
                <b>MINOR FLOODING</b>
              </div>
            </div>

            <div class="tab-content">
              - Inundation may or may not be due to overbanking.
            </div>

            <div class="tab-content">
              - When there is no bank overflow, flooding is simply due to the accumulation 
              of excessive surface run-off in low lying flat areas.
            </div>

            <div class="tab-content">
              - Floodwaters are usually confined to the flood plain of the river along the 
              channel, on random low-lying areas and depressions in the terrain.
            </div>

            <div class="tab-content">
              - Floodwater is usually shallow and there may not be a perceptible flow.
            </div>

            <div class="tab-content">
              <div class="info">
                <b>MAJOR FLOODING</b>
              </div>
            </div>

            <div class="tab-content">
              - Flooding is caused by the over­flowing of rivers and lakes; by serious breaks 
              in dikes, levees, dams and other protective structures; by uncontrollable 
              releases of impounded water in reservoirs and by the accumulation of excessive 
              runoff.
            </div>

            <div class="tab-content">
              - Floodwaters cover a wide contiguous area and spread rapidly to adjoining 
              areas of relatively lower elevation.
            </div>

            <div class="tab-content">
              - Flooding is relatively deep in most parts of the stricken areas.
            </div>

            <div class="tab-content">
              - There is a highly perceptible current as the flood spreads to other areas.
            </div>

            <div class="tab-content">
              <div class="info">
                <b>FLASH FLOOD</b>
              </div>
            </div>

            <div class="tab-content">
              - Flash floods develop in hilly and mountainous terrains where the slope of the 
              river is rather steep. The rapid development of the flood is due to the 
              extremely short concentration time of the drainage catchment. This means that 
              precipitation falling on a point in the catchment farthest from the river 
              takes only a short time to reach the river channel and become part of 
              streamflow. Thus, the amount of streamflow rapidly increases and, consequently, 
              the rise in water level. When the flow capacity of the stream is exceeded, 
              the channel overflows and the result is a flash flood.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
