
<!-- Volcanic Eruption Preparation Page -->

<ion-content>
  <div class="container">
    <div class="back" routerLink="/volcanic">
      <img class="backBtn" src="assets/button/bckBtn.png">
    </div>

    <!-- BEFORE -->
    <div class="beforeCont">
      <div class="text">
        <p class="ve">What to do when a Volcanic Eruption occurs?</p>
      </div>
  
      <div class="before">
        <p class="bfr">BEFORE</p>
      </div>
  
      <div class="before">
        <p class="sub">Know the Signs of an Impending Eruption.</p>
      </div>

      <div class="content1">
        <div class="tbl">
          <table>
            <tr>
              <td>
                <img class="icon" src="assets/volcanicPrep/wave.png">
              </td>

              <td class="info">
                <b>Increase in the frequency of volcanic quakes accompanied by rumbling sounds.</b>
                <br>
                <i>Mas madalas na paglindol o pagyanig ng lupa na may kasamang pagdagundong.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/volcanicPrep/volcano1.png">
              </td>

              <td class="info">
                <b>Change in color of steam emission from white to gray.</b>
                <br>
                <i>Pagbabago ng kulay ng usok at nagiging kulay abo.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/volcanicPrep/river.png">
              </td>

              <td class="info">
                <b>Drying up of vegetation, springs and well around the volcano.</b>
                <br>
                <i>Pagkatuyo ng mga halaman, sapa at balon sa paligid ng bundok.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/volcanicPrep/volcano2.png">
              </td>

              <td class="info">
                <b>Development of new thermal areas or reactivation of old ones.</b>
                <br>
                <i>Pagkakaroon ng mga bagong bentilasyon sa paligid ng bulkan.</i>
              </td>
            </tr>
          </table>
        </div>

        <div class="before2">
          <p class="sub">Know the Community's Safety Plan.</p>
        </div>

        <div class="tbl">
          <table>
            <tr>
              <td>
                <img class="icons" src="assets/volcanicPrep/news.png">
              </td>

              <td class="info">
                <b>Always monitor the volcano updates and watch out for advisories and warnigns.</b>
                <br>
                <i>Makinig sa ulat ukol sa bulkan at maging alerto sa mga balita.</i>
              </td>
            </tr>
            
            <tr>
              <td>
                <img class="icons" src="assets/volcanicPrep/home.png">
              </td>

              <td class="info">
                <b>Know the location of the evacuation site and the fastest and safety way to go there.</b>
                <br>
                <i>Alamin ang lugar na paglilikasan at ang pinakamabilis at ligtas na daan patungo dito.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icons" src="assets/volcanicPrep/bag.png">
              </td>

              <td class="info">
                <b>Prepare your familiy's GO BAG containing item needed for survival.</b>
                <br>
                <i>Ihanda ang GO BAG na naglalaman ng mga pangangailangan ng pamilya.</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- DURING -->
    <div class="duringCont">
      <div class="during">
        <p class="bfr">DURING</p>
      </div>
  
      <div class="during">
        <p class="sub">Stay Away from Danger Zones.</p>
      </div>

      <div class="content2">
        <div class="tbl">
          <table>
            <tr>
              <td>
                <img class="icon2" src="assets/volcanicPrep/evac.png">
              </td>

              <td class="info">
                <b>When notified, immediately evacuate to safer grounds.</b>
                <br>
                <i>Kapag nakatanggap ng abiso, agad na lumisan patungo sa ligtas na lugar.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon2" src="assets/volcanicPrep/pwd.png">
              </td>

              <td class="info">
                <b>Assist in evacuating children,pregnant women,PWDs and older people.</b>
                <br>
                <i>Tulungan sa paglikas ang mga bata, buntis, may kapansanan at mga matatanda.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon2" src="assets/volcanicPrep/mask.png">
              </td>

              <td class="info">
                <b>Cover your mouth with wer cloth and wear protective goggles.</b>
                <br>
                <i>Takpan ang mga bibig at ilong ng basang panyo o tela at magsuot na proteksyon sa mata.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon2" src="assets/volcanicPrep/pets.png">
              </td>

              <td class="info">
                <b>Keep your pets in their shelter or inside to avoid then from inhaling ash.</b>
                <br>
                <i>Siguraduhing nasa ligtas na lugar ang mga alagang hayop para maiwasan ang paglanghap ng abo.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon2" src="assets/volcanicPrep/river2.png">
              </td>

              <td class="info">
                <b>Stay away from rivers and steams for possible lahar flows.</b>
                <br>
                <i>Lumayo sa mga ilog at sapa na posibleng dalulayan ng lahar.</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- AFTER -->
    <div class="afterCont">
      <div class="after">
        <p class="bfr">AFTER</p>
      </div>
  
      <div class="after">
        <p class="sub">Remain Alert and Be Cautious.</p>
      </div>

      <div class="content3">
        <div class="tbl">
          <table>
            <tr>
              <td>
                <img class="icon3" src="assets/volcanicPrep/firefighter.png">
              </td>

              <td class="info">
                <b>Leave the evacuation areas only when authorities say it is safe.</b>
                <br>
                <i>Lisanin laman ang evacuation kapag ligtas na ayon sa kinauukulan.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon3" src="assets/volcanicPrep/mop.png">
              </td>

              <td class="info">
                <b>Wear masks when cleaning.</b>
                <br>
                <i>Gumamit ng dust mask o basang panyo kapag naglilinis.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon3" src="assets/volcanicPrep/roof.png">
              </td>

              <td class="info">
                <b>Scrape the accumulated ash in roofs to prevent collapse.</b>
                <br>
                <i>Linisin ang mga naipong abo upang maiwasan ang pagguho ng bubong ng bahay.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon3" src="assets/volcanicPrep/plant.png">
              </td>

              <td class="info">
                <b>Shake loose ash from plants before watering.</b>
                <br>
                <i>Ipagpag ang mga abo mula sa halaman bago ito diligan.</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</ion-content>
