<ion-content>
  <div class="container">
    <div class="back" routerLink="/flooding-page">
      <img class="backBtn" src="assets/button/bckBtn.png">
    </div>

    <!-- BEFORE -->
    <div class="beforeCont">
      <div class="text">
        <p class="fld">What to do when Flood occurs?</p>
      </div>
  
      <div class="before">
        <p class="bfr">BEFORE</p>
      </div>
  
      <div class="before">
        <p class="sub">Know the Hazards in Your Area.</p>
      </div>
  
      <div class="content1">
        <div class="tbl">
          <table>
            <tr>
              <td>
                <img class="icon" src="assets/fldPrep/radio.png">
              </td>
              <td class="info">
                <b>Monitor the news for weather updates, warning and advisories.</b>
                <br>
                <i>Alamin ang balita ukol sa panahon at mga anunsyong pangkaligtasan.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon" src="assets/fldPrep/list.png">
              </td>
              <td class="info">
                <b>Know the flood early warning and evacuation plan of the community.</b>
                <br>
                <i>Alamin ang plano ng komunidad sa pagbibigay-babala at paglikas dahil sa baha.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon" src="assets/fldPrep/community.png">
              </td>
              <td class="info">
                <b>Participate in community flood preparedness actions and drills.</b> 
                <br>
                <i>Makilahok sa mga pagsasanay at paghahanda ng kumunidad sa baha.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon" src="assets/fldPrep/lock.png">
              </td>
              <td class="info">
                <b>Secure your home. Move essential furniture and item to the upper floor.</b>
                <br>
                <i>Siguraduhing ligtas ang iyong tahanan. Iakyat ang mga mahahalagang kagamitan sa mas mataas na lugar.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon" src="assets/fldPrep/elect.png">
              </td>
              <td class="info">
                <b>Before evacuating, turn off all main switches of eletricity, water and LPG tanks.</b>
                <br>
                <i>Bago lumikas, isarado ang mga main switches ng kuryente, tubig at tangke ng LPG.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon" src="assets/fldPrep/pets.png">
              </td>
              <td class="info">
                <b>Put livestock and pets in a safe area or designated evacuation sites for animals.</b>
                <br>
                <i>Ilikas ang mga alagang hayop sa ligtas na lugar.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/fldPrep/evac.png">
              </td>
              <td class="info">
                <b>When order is received, immediately evacuate to higher and safer grounds.</b>
                <br>
                <i>Kapag inabisuhan ng linauukulan, mabilis na lumikas sa mataas at ligtas na lugar.</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- DURING -->
    <div class="duringCont">
      <div class="during">
        <p class="bfr">DURING</p>
      </div>
  
      <div class="during">
        <p class="sub">Stay on Higher Grounds.</p>
      </div>
  
      <div class="content2">
        <div class="tbl">
          <table>
            <tr>
              <td>
                <img class="icon2" src="assets/fldPrep/home.png">
              </td>
              <td class="info">
                <b>Stay indoors and stay tuned for latest news and weather updates.</b>
                <br>
                <i>Manatili sa loob ng bahay at patuloy na makinig sa ulat ng panahon.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon2" src="assets/fldPrep/plug.png">
              </td>
              <td class="info">
                <b>DO NOT touch electrical equipment if you are wet or standing in floodwater.</b>
                <br>
                <i>Huwag hawakan ang mga kagamitan de kuryente kung ikaw at basa o nakatayo sa tubig baha.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon2" src="assets/fldPrep/swim.png">
              </td>
              <td class="info">
                <b>DO NOT go swimming or boating in swollen rivers.</b> 
                <br>
                <i>Huwag lumangoy o mamangka sa umaapaw na ilog.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon2" src="assets/fldPrep/cross.png">
              </td>
              <td class="info">
                <b>DO NOT cross steams when water level is already above the knee.</b>
                <br>
                <i>Huwag tumawid sa sapa o ilog kung lagpas tuhod na ang tubig.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon2" src="assets/fldPrep/car.png">
              </td>
              <td class="info">
                <b>DO NOT walk or drive though flooded areas.</b>
                <br>
                <i>Huwag maglakad o magmaneho sa lugar na baha.</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- AFTER -->
    <div class="afterCont">
      <div class="after">
        <p class="bfr">AFTER</p>
      </div>
  
      <div class="after">
        <p class="sub">Stay Alert and Keep Safe.</p>
      </div>
  
      <div class="content1">
        <div class="tbl">
          <table>
            <tr>
              <td>
                <img class="icon3" src="assets/fldPrep/firefighter.png">
              </td>
              <td class="info">
                <b>Leave the evacuation area only when authorities say it is safe to return home.</b>
                <br>
                <i>Lisanin lamang ang evacuation area kapag ligtas na ayon sa kinauukulan.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon3" src="assets/fldPrep/tele.png">
              </td>
              <td class="info">
                <b>Report fallen tress and eletric posts to proper authorities.</b>
                <br>
                <i>Ipagbigay-alam sa kinauukulan ang mga natumbang puno at poste ng kuryente o mga linya ng tubig at telepono.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon3" src="assets/fldPrep/plug.png">
              </td>
              <td class="info">
                <b>Check for wet or submerged electrical outlets and appliances before turning on electricity.</b> 
                <br>
                <i>Siguraduhin wala basa o nakababad na outlet o lagamitan bago buksan ang linya ng kuryente.</i>
            </tr>
  
            <tr>
              <td>
                <img class="icon3" src="assets/fldPrep/fix.png">
              </td>
              <td class="info">
                <b>Check your house for possible damages and repair as necessary.</b>
                <br>
                <i>Suriin ang bahay kung may mga nasira at ipaayos ang mga ito kung kailangan.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon3" src="assets/fldPrep/skull.png">
              </td>
              <td class="info">
                <b>Make sure that the food and water for drinking are not contaminated by flood water.</b>
                <br>
                <i>Siguraduhin malinis ang pagkain at inuming tubig.</i>
              </td>
            </tr>
  
            <tr>
              <td>
                <img class="icon3" src="assets/fldPrep/tire.png">
              </td>
              <td class="info">
                <b>Throw away rainwater in cans, pots and tires to prevent breeding of mosquitoes.</b>
                <br>
                <i>Itapon ang naipong tubig sa mga lata, paso at gulong upang hindi pamahayan ng lamok.</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</ion-content>
