
<!-- HOTLINES PAGE -->

<ion-content>
  <div class="container">
    
    <div class="back" routerLink="/info-page">
      <img class="backBtn" src="assets/button/bckBtn.png">
    </div>

    <div class="text">
      <p class="info">Here are the numbers you can call during disasters and calamities.</p>
    </div>
    
    <div class="box1">
      <div class="bar">
        <label>MDRRMO Hotline</label>
      </div>

      <div class="cover">
        <img src="assets/dept/mdrrmo.jpg">
      </div>
    </div>

    <div class="box2">
      <div class="bar">
        <label>BFP Hotline</label>
      </div>

      <div class="cover">
        <img src="assets/dept/bfp.jpg">
      </div>
    </div>

    <div class="box3">
      <div class="bar">
        <label>PNP Hotline</label>
      </div>

      <div class="cover">
        <img src="assets/dept/pnp.jpg">
      </div>
    </div>
  </div>
</ion-content>
