<ion-content>
  <div class="container">
    <div class="cover">
      <div class="back" routerLink="/disaster-mainpage">
        <img class="backBtn" src="assets/button/bckBtn.png">
      </div>

      <div>
        <img class="tc" src="assets/disaster/tc.jpg">

        <div class="lbl">
          <p class="label">Tropical Cyclone</p>
        </div>

        <div class="cyclone">
          <img class="icon" src="assets/disaster/cyclone.png">
        </div>
      </div>
    </div>

    <div class="content">
      <div class="desc">
        <p>Tropical cyclones are warm-core low pressure systems associated 
          with a spiral inflow of mass at the bottom level and spiral outflow
          at the top level. They always form over oceans where sea surface temperature, 
          also air temperatures are greater than 26°C. The air accumulates large amounts 
          of sensible and latent heat as it spirals towards the center. It receives this 
          heat from the sea and the exchange can occur rapidly, because of the large amount 
          of spray thrown into the air by the wind. The energy of the tropical cyclone is 
          thus derived from the massive liberation of the latent heat of condensation.
        </p>
      </div>

      <div class="accordion">
        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck1">
            <label class="tab-label" for="chck1">Classification of Tropical Cyclones</label>
            
            <div class="tab-content">
              <b>Tropical cyclones</b> derive their energy from the latent heat of condensation 
              which made them exist only over the oceans and die out rapidly on land. One 
              of its distinguishing features is its having a central sea-level pressure of
              900 mb or lower and surface winds often exceeding 100 knots. They reach 
              their greatest intensity while located over warm tropical waters and they 
              begin to weaken as they move inland. The intensity of tropical cyclones 
              vary, thus, we can classify them based upon their degree of intensity.The 
              classification of tropical cyclones according to the strength of the 
              associated winds as adopted by PAGASA as of <b>March 23,2022</b> are as follows:
            </div>

            <div class="tab-content">
              <b>TROPICAL DEPRESSION (TD)</b> - a tropical cyclone with maximum sustained winds of
              up to 62 kilometers per hour (kph) or less than 34 nautical miles per hour 
              (knots).
            </div>

            <div class="tab-content">
              <b>TROPICAL STORM (TS)</b> - a tropical cyclone with maximum wind speed of 62 to 88 
              kph or 34 - 47 knots.
            </div>

            <div class="tab-content">
              <b>SEVERE TROPICAL STORM (STS)</b> - a tropical cyclone with maximum wind speed of 
              87 to 117 kph or 48 - 63 knots.
            </div>

            <div class="tab-content">
              <b>TYPHOON (TY)</b> - a tropical cyclone with maximum wind speed of 118 to 
              184 kph or 64 - 99 knots.
            </div>

            <div class="tab-content">
              <b>SUPER TYPHOON (STY)</b> - a tropical cyclone with maximum wind speed exceeding 
              185 kph or more than 100 knots.
            </div>
          </div>
        </div>
  
        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck2">
            <label class="tab-label" for="chck2">Life History of a Tropical Cyclone</label>
            
            <div class="tab-content">
              Tropical cyclones undergo constant metamorphosis from birth through maturity 
              to decay. They last for about six days, in general, before they enter the land 
              or reach sub-tropical latitudes. However, some can be detected only a few 
              hours or perhaps a day or two, while others are observed as long as a 
              fortnight. The four stages of the life history of a cyclone are:
            </div>

            <div class="tab-content">
              <b>Formative Stage</b> - The incipient stage when the tropical cyclone form in waves 
              and in shear lines of pre-existing disturbances and winds usually remain below
              the typhoon force.
            </div>

            <div class="tab-content">
              <b>Immature Stage</b> - The deepening stage of the cyclone during which it continues 
              to deepen until the lowest central pressure and the maximum wind intensity are 
              reached. However, intensification does not usually takes place since some have 
              been known to die down even though the winds has attained typhoon force.
            </div>

            <div class="tab-content">
              <b>Mature Stage</b> - The stage of maturity of the tropical cyclones where the areas 
              of circulation expands while the surface pressure no longer falls and no 
              increase in maximum winds speed can be observed which may last for a week.
            </div>

            <div class="tab-content">
              <b>Decaying Stage</b> - The dissipating stage of the tropical cyclone where the 
              surface pressure rises and the area affected by the cyclones diminishes in 
              size as it recurves or dissipate due to friction and lack of moisture over 
              continents or when colder and drier air enters through when they go poleward.
            </div>
          </div>
        </div>

        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck3">
            <label class="tab-label" for="chck3">Effects of Tropical Cyclone</label>

            <div class="tab-content">
              Tropical cyclone constitutes one of the most destructive natural disasters 
              that affects many countries around the globe and exacts tremendous annual 
              losses in lives and property. Its impact is greatest over the coastal areas, 
              which bear the brunt of the strong surface winds, squalls, induced tornadoes, 
              and flooding from heavy rains, rather than strong winds, that cause the 
              greatest loss in lives and destruction to property in coastal areas.
            </div>

            <div class="tab-content">
              <b>STRONG WINDS</b> - A squall is defined as an event in which the surface wind 
              increases in magnitude above the mean by factors of 1.2 to 1.6 or higher 
              and is maintained over a time interval of several minutes to one half hour. 
              The spatial scales would be roughly 2 to 10 km. The increase in wind may occur 
              suddenly or gradually. These development near landfall lead to unexpectedly 
              large damage.
              <br>
              <img src="assets/disaster/winds.jpg">
            </div>

            <div class="tab-content">
              <b>HEAVY RAINFALL</b> - Rainfall associated with tropical cyclones is both beneficial and harmful. 
              Although the rains contribute to the water needs of the areas traversed by the cyclones.
              <img src="assets/disaster/rain.jpg">
            </div>

            <div class="tab-content">
              <b>STORM SURGE</b> - The storm surge is an abnormal rise of water due to a tropical cyclone and it is an 
              oceanic event responding to meteorological driving forces. Potentially disastrous surges occur along 
              coasts with low-lying terrain that allows inland inundation, or across inland water bodies such as bays, 
              estuaries, lakes and rivers. For riverine situations, the surge is sea water moving up the river. 
              A fresh water flooding moving down a river due to rain generally occurs days after a storm event and is 
              not considered a storm surge. For a typical storm, the surge affects about 160 km of coastline for a 
              period of several hours.

              <img src="assets/disaster/surge.jpg">
            </div>
          </div>
        </div>

        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck4">
            <label class="tab-label" for="chck4">Tropical Cyclone Wind Signals</label>

            <div class="tab-content">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
