ion-content {
  --ion-background-color: #fff;
}

.container {
  padding: 25px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 55%;
}

.splashlogo {
  width: 245px;
  height: 250px;

  animation: logoAnim 2s ease 0s normal forwards;
}

@keyframes logoAnim {
	0% {
		opacity: 0;
		transform: rotate(-540deg) scale(0);
	}

	100% {
		opacity: 1;
		transform: rotate(0) scale(1);
	}
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;

  border: none;
  background-color: #0d8713;

  margin-top: 45%;
  left: 15%;

  width: 70%;
  height: 50px;
  border-radius: 30px;

  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.button:active {
  background-color: #3b973e;
  transform: translateY(2px);
}