
<!-- Go Bag Preparation -->

<ion-content>
  <div class="container">
    <div class="back" routerLink="/info-page">
      <img class="backBtn" src="assets/button/bckBtn.png">
    </div>

    <div class="goBag">
      <div class="text">
        <p class="gb">GO BAG (Emergency Preparedness Bag)</p>
      </div>

      <div class="remind">
        <p class="rmnd">REMINDERS</p>
      </div>

      <div class="remind">
        <p class="sub">Remember These Three Important Guides.</p>
      </div>
      
      <div class="content1">
        <div class="tbl">
          <table>
            <tr>
              <td>
                <img class="icon" src="assets/gobagPrep/1.png">
              </td>

              <td class="info">
                <b>The GO BAG item should be checked and replenished every tree months.</b>
                <br>
                <i>Suriin ang laman ng GO BAG kada tatlong buwan at palitan ang mga laman nito na malapit nang masira.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/gobagPrep/2.png">
              </td>

              <td class="info">
                <b>The GO BAG should be stored properyly where it can be easily accessed in case of an emergency.</b>
                <br>
                <i>Ilagay ang GO BAG sa lugar na madali itong makita at makuha sa oras ng sakuna.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/gobagPrep/3.png">
              </td>

              <td class="info">
                <b>Coordinate with leader on community evacuation plan. Decide with the family on where to meet in case there is need to evacuate.</b>
                <br>
                <i>Makipag-ugnayon sa mga lider para sa plano sa pag-likas ng komunidad. Pag-usapan di sa pamilya kung saan tutungo sa oras na kailangang lumikas.</i>
              </td>
            </tr>
          </table>
        </div>
      </div>


      <div class="content">
          <p class="rmnd">CONTENTS OF A GO BAG</p>
        </div>
  
        <div class="remind">
          <p class="sub">The Go Bag Contains Important Item Needed by the Family to Survive.</p>
        </div>

      <div class="content2">
        <div class="tbl">
          <table>
            <tr>
              <td>
                <img class="icon" src="assets/gobagPrep/docs.png">
              </td>

              <td class="info">
                <b>Important ducument in waterproof container.</b>
                <br>
                <i>Mahalagang dokumento sa selyadong lalagyan.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/gobagPrep/flashlight.png">
              </td>

              <td class="info">
                <b>Flashlight, candles, matches and whistle.</b>
                <br>
                <i>Flashlight, kandila, posporo at silbato.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/gobagPrep/radio.png">
              </td>

              <td class="info">
                <b>Radio with fresh and extra batteries.</b>
                <br>
                <i>Radyo na may bago at ekstrang baterya.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/gobagPrep/kit.png">
              </td>

              <td class="info">
                <b>First aid kit with remedies for fever, LBM minor wound and pain, and maintenance medicines.</b>
                <br>
                <i>First aid kit, kasama ang panlunas sa lagnat,LBM,sugat at iba pa, at mga gamot na regular na iniinom ng kapamilya</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/gobagPrep/cash.png">
              </td>

              <td class="info">
                <b>Spare cash including coin.</b>
                <br>
                <i>Pera at barya.</i>
              </td>
            </tr>
            
            <tr>
              <td>
                <img class="icon" src="assets/gobagPrep/cane.png">
              </td>

              <td class="info">
                <b>Items for special needs of young and older members of the family, including persons with disabilities.</b>
                <br>
                <i>Mga gamit para sa pangangailangan at may kapansanan.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/gobagPrep/can.png">
              </td>

              <td class="info">
                <b>Easy-to-serve,ready-to-eat food enough for three days.</b>
                <br>
                <i>Pagkain na madaling ihanda, di na kailangan lutuin,sapat para sa tatlong araw.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/gobagPrep/water.png">
              </td>

              <td class="info">
                <b>Drinking water in sealed containers enough  for three days.</b>
                <br>
                <i>Inuming tubig sa saradong lalagyan at sapat para sa tatlong araw.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/gobagPrep/mobilephone.png">
              </td>

              <td class="info">
                <b>Mobile phones, powerbanks and chargers.</b>
                <br>
                <i>Telepono,powerbank at charger.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/gobagPrep/shirt.png">
              </td>

              <td class="info">
                <b>Clothing raincoat, boots and sanitary supplies.</b>
                <br>
                <i>Damit, kapote, botas at mga sanitary supplies.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/gobagPrep/blanket.png">
              </td>

              <td class="info">
                <b>Sleeping bags or mats and blankets.</b>
                <br>
                <i>Sleeping bag o banig, at mga kumot.</i>
              </td>
            </tr>

            <tr>
              <td>
                <img class="icon" src="assets/gobagPrep/bag.png">
              </td>

              <td class="info">
                <b>Ropes, old newspaper and ecobags mage ot strong materials.</b>
                <br>
                <i>Lubid, lumang dyaryo at matitibay na lalagyan.</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</ion-content>
